@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Kayıt Ol ve Giriş Yap bağlantıları -->
    <p>
        Henüz hesabınız yok mu? <a asp-controller="Kullanici" asp-action="KayitOl">Kayıt Ol</a>
    </p>
    <p>
        Zaten hesabınız var mı? <a asp-controller="Kullanici" asp-action="GirisYap">Giriş Yap</a>
    </p>
</div>