@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    @model yazlab2mvc.Models.Etkinlikler

    <h2>Etkinlik Oluştur</h2>

    <form asp-action="EtkinlikOlustur" method="post">
        <label>Etkinlik Adı:</label>
        <input asp-for="EtkinlikAdi" class="form-control" />

        <label>Açıklama:</label>
        <textarea asp-for="Aciklama" class="form-control"></textarea>

        <label>Tarih:</label>
        <input asp-for="Tarih" type="date" class="form-control" />

        <label>Saat:</label>
        <input asp-for="Saat" type="time" class="form-control" />

        <label>Süre:</label>
        <input asp-for="EtkinlikSuresi" type="time" class="form-control" />

        <label>Konum:</label>
        <input asp-for="Konum" class="form-control" />

        <label>Kategori:</label>
        <input asp-for="Kategori" class="form-control" />

        <button type="submit" class="btn btn-primary mt-3">Oluştur</button>
    </form>

}
