@model yazlab2mvc.Models.Kullanicilar

<h2>Kayıt Ol</h2>

@if (ViewBag.Message != null)
{
    <div class="alert @(ViewBag.IsSuccess ? "alert-success" : "alert-danger")">
        @ViewBag.Message
    </div>
}

<form asp-action="KayitOl" method="post">
    <label>Kullanıcı Adı:</label>
    <input asp-for="KullaniciAdi" class="form-control" />

    <label>Şifre:</label>
    <input asp-for="Sifre" type="password" class="form-control" />

    <label>E-posta:</label>
    <input asp-for="Eposta" type="email" class="form-control" />

    <label>Konum:</label>
    <input asp-for="Konum" class="form-control" />

    <label>İlgi Alanları:</label>
    <input asp-for="IlgiAlanlari" class="form-control" />

    <label>Ad:</label>
    <input asp-for="Ad" class="form-control" />

    <label>Soyad:</label>
    <input asp-for="Soyad" class="form-control" />

    <label>Doğum Tarihi:</label>
    <input asp-for="DogumTarihi" type="date" class="form-control" />

    <label>Cinsiyet:</label>
    <input asp-for="Cinsiyet" class="form-control" />

    <label>Telefon Numarası:</label>
    <input asp-for="TelefonNumarasi" class="form-control" />

    <div class="form-group">
        <label asp-for="ProfilFotografi" class="control-label"></label>
        <input asp-for="ProfilFotografi" type="file" class="form-control" />
        <span asp-validation-for="ProfilFotografi" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Kayıt Ol</button>
</form>