@model List<yazlab2mvc.Models.Etkinlikler>

<h2>Reddedilen Etkinliklerim</h2>

@if (!Model.Any())
{
    <p>Reddedilen bir etkinlik bulunmamaktadır.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Etkinlik Adı</th>
                <th>Konum</th>
                <th>Tarih</th>
                <th>Detay</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var etkinlik in Model)
            {
                <tr>
                    <td>@etkinlik.EtkinlikAdi</td>
                    <td>@etkinlik.Konum</td>
                    <td>@etkinlik.Tarih.ToShortDateString()</td>
                    <td><a href="@Url.Action("Detay", "Etkinlikler", new { id = etkinlik.ID })">Görüntüle</a></td>
                </tr>
            }
        </tbody>
    </table>
}
