@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Hoşgeldiniz, Admin!</h2>

<ul>
    <li><a href="@Url.Action("KullaniciListele", "Admin")">Kullanıcıları Listele</a></li>
    <li><a href="@Url.Action("EtkinlikListele", "Admin")">Etkinlikleri Listele</a></li>
    <li><a href="@Url.Action("KatilimciListele", "Admin")">Katılımcıları Listele</a></li>
</ul>