@* 
    For more information on  MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
   <!DOCTYPE html >

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>_TestLayout</title>
        
    
    </head>
    Burası Layout
    <body>



    </body>
</html>